@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}
body {
  margin: 0;
  background: #e6e6e6;
}
.showSlide {
  display: none;
}
.showSlide img {
  width: 100%;
  border-radius: 1rem;
}
.slidercontainer {
  max-width: 1140px;
  position: relative;
  margin: auto;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  background-color: rgba(115, 115, 115, 0.8);
}

.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
